body{
    background-color: rgb(43, 40, 40);
    
}
.web-cover{
    width: 200px;
    min-width:280px;
    max-width: 2000px;
    background-color: blue;
}

.img{
    position: absolute;
    left:12%;
    top:3.5%;
}
.line-1{
    width:16vw;
    height:0px;
    background-color: transparent;
    border-style: solid;
    border-color:rgb(236, 130, 9) transparent transparent transparent;
    border-width:20px 20px 20px 20px;
    position:absolute;
    left:0.5%;
    top:0%;
}
.line-2{
    width:0px;
    height:16vh;
    background-color: transparent;
    border-style: solid;
    border-color:transparent transparent transparent white;
    border-width:20px 20px 20px 20px;
    position:absolute;
    left: 0%;
    top:1%;
}
.line-3{
    width:16vw;
    height:0px;
    background-color: transparent;
    border-style: solid;
    border-color:transparent transparent rgb(236, 130, 9) transparent;
    border-width:20px 20px 20px 20px;
    position:absolute;
    right: 1%;
    bottom:0%;

}
.line-4{
    width:0px;
    height:16vh;
    background-color: transparent;
    border-style: solid;
    border-color:transparent white transparent transparent;
    border-width:20px 20px 20px 20px;
    position:absolute;
    right: 0%;
    bottom:1%;
}
.block{
    width:60vw;
    height:38vh;
    max-width:2500vh;
    max-height: 130vh;
    background-color: transparent;
    position:absolute;
    left:10%;
    top:50%;
    display:flex;
    animation-name: mover;
    animation-duration: 4s;
    animation-iteration-count: 1;
}
.header{
    font-size: 400%;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif ;
    color:rgb(218, 208, 152);
    font-feature-settings: "abvf";
    animation-name: move;
    animation-duration: 4s;
    animation-iteration-count: 1;
    position:absolute;
    left:8%;
    top:20%;
}
#line{
    height: 30vh;
    width:1px;
    position: absolute;
    background-color: gold;
    background-image: radial-gradient(black,gold);
}
.talk{
    position:absolute;
    color:darkgray;
    left:5%;
    font-size: 2.5vh;
}
#pcap{
    position:absolute;
    left:70%;
    top:10%;
    color: rgb(218, 208, 152);
    font-size: 5vh;
}
.coverr{
    position:absolute;
    left:72%;
    top:25%;
    background-color: rgb(209, 193, 101);
    width:9vw;
    height:9vh;
    border-radius: 10%;
}
.boxx{
    position:absolute;
    left:72.5%;
    top:25.5%;
    background-color:rgb(43, 40, 40);
    width:19vw;
    height:19vh;
    border-radius: 5%;
    color:gold;
    overflow: auto;
    font-size: 70%;
}
.exam{
    height: 1px;
    width:11vw;
    background-color: gold;
    position: static;
}

@keyframes move{
    0%{
        position: absolute;
        left:8%;
        top:-40%;
    }
    
    70%{
        position: absolute;
        left:8%;
        top:20%;
    }
    85%{
        position: absolute;
        left:8%;
        top:0%;
    }
    100%{
        position: absolute;
        left:8%;
        top:20%;
    }
}
@keyframes mover{
    0%{
        position: absolute;
        left:-50%;
    }
    100%{
        position: absolute;
        left:15%;
    }
}

.brock{
    width:131vh;
    height:78.5vh;
    max-width:2500vh;
    max-height: 1300vh;
    background-color: transparent;
    position:absolute;
    left:13%;
    top:5%;
    
}
.linkhub{
    width:23vh;
    height:35px;
    max-width:2500vh;
    max-height: 130vh;
    background-color: transparent;
    position:absolute;
    left:60%;
    top:2%;
    font-size: 2em;
    display: flex;
    
    
}
a{ cursor: default; color: rgb(194, 181, 109); 
    text-decoration:none; }


@media scree and (max-width:600px) {
    .header{
        font-size:300%;
        left: 17%;
    }
        .block{
            top:39%;
            width: 250px;
        }
        #line{
            height:100%;
        }
        .line-3{
            display: none;
        }
        .line-4 {
            display: none;
        }
        .talk{
            left:10%;
        }
}

@media screen and (max-width:414px) {
    .header{
        font-size:200%;
    }
        .block{
            top:40%;
            height: 49vh;
        }
        .talk{
            font-size: 85%;
        }
        #line{
            height:80%;
        }
        .talk{
            left:10%;
            font-size:70%;
        }
        #pcap{
            right:10%;
            font-size:120%;
        }
}
